DATABASE_URL="postgresql://user:password@localhost:5432/hyreli" # PostgreSQL connection string
DISCORD_CLIENT_ID="" # Discord client ID for OAuth2 authentication
DISCORD_CLIENT_SECRET="" # Discord client secret for OAuth2 authentication
AUTH_SECRET="" # Secret key for authentication and session management, run openssl rand -base64 32
OWNER_DISCORD_ID="" # Your Hyreli instance owner Discord ID
